# Apply override to all files in the directories
# to ignore any TeX file
report/tex/* linguist-vendored
report/tex/* linguist-documentation

# Apply override to all files in the directories
# to highlight any Jupyter Notebook file
demo/* linguist-detectable
demo/* linguist-language=Jupyter Notebook
